<html>
<head>
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-route.js"></script>
    <script src="/main.js"></script>

    <style>
        table {
            font-family: arial, sans-serif;
            font-size: 14px;
            border-collapse: collapse;
            width: 50%;
            min-width: 400px;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .bold {
            font-weight: bold;
        }

        html {
            display: block;
        }
        
        .filter-buttons-container {
            display: block;
            float: none;
        }
        /*
        .filter-buttons {
            display: block;
        */
        .filter-buttons button {
            width: 100px;
            display: inline;
            margin: 1px;
            padding-top: 5px;
            padding-bottom: 5px;

        }/*
        .table-container {
            display: block;
        }*/
        /*
        .custom-search ul {
            list-style-type: none;
        }
        .custom-search table:nth-child(even) {
            background-color: white;
            border-color: white;
        }*/
    </style>

</head>
<body>
    <div ng-app="main" ng-controller="mainController" ng-init="init()">

        <div class="filter-buttons-container">
            <div class="filter-buttons">

                <button ng-click="getQuery( { name : 'Nick'}) "> Name is Nick </button>
                <button ng-click="getQuery( { location : 'Illinois' }) "> From Illinois </button>
                <button ng-click="toggleCustom()"> {{ customQueryButtonText }} </button>
                <div class="custom-search" ng-hide="!isCustomQueryOpen">
                    <table class="custom-table">
                        <tr>    
                            <td>   
                                <label>database path</label> 
                            </td>
                            <td>
                                <input ng-model="dbpath">
                            </td>
                        </tr>
                        <tr ng-repeat="field in fields">
                            <td>
                                <label>{{ field }}</label>
                            </td>
                            <td>
                                <input ng-model="customQueryParams[field]">
                            </td>
                            
                        </tr>
                    </table>
                    <button ng-click="getQuery( customQueryParams )">test</button>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table>
            <tr>
                <td ng-repeat="field in fields">
                    <span class="bold"> {{ field }} </span>
                </td>
            </tr>
            <tr ng-repeat="row in data" ng-model="data">
                <td ng-repeat="value in row" ng-model="row">
                {{ value }}
                </td>
            </tr>
            </table>
            <div ng-hide="!isLoading"> Loading... </div>
        </div>
    </div>
</body>
</html>